/* Font  */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
body{
  font-family: 'Outfit', sans-serif;
  margin: 0;
  overflow-y: scroll;
}
/* Header & Nav Styles */
header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #0B0526;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 5%;
  
}
li,
a,
button {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #f5f5f5;
  text-decoration: none;
}
.logo {
  cursor: pointer;
  width: 25%;
  margin-right: auto;
}
.nav-link {
  list-style: none;
}
.nav-link li {
  display: inline-block;
  padding: 0px 20px;
}
.nav-link li a {
  color: #ffad5a;
  transition: all 0.3s ease 0s;
}
.nav-link li a:hover {
  color: #E02C6D;
}
button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: #E02C6D;
  color: #f5f5f5;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: #ff5959;
  color: #f5f5f5;
}
i{
  margin: 10px;
  cursor: pointer;
}
/* Main Style  */
main hr{
  border: 1px solid #0B0526;
  margin-left: 300px;
  margin-right: 300px;
}
main img{
  margin: 25px;
}
.frist-images{
margin-left: 500px;
}
.last-images{
  margin-right: 450px;
  }
/* Footer Styles  */
footer{
  background-color: #0B0526;
  text-align: center;
  left: 41.53%;
  right: 41.6%;
  top: 94.28%;
  bottom: 4.63%;
  padding-bottom: 25px;
  padding-top: 25px;
}
footer h1, p{
  color: #ffffff;
}
hr{
  border: 1px solid #ffffff;
  margin-left: 300px;
  margin-right: 300px;
}
footer i{
  color: #ffffff;
  font-size: 25px;
}